<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Orbit - Traffic data at your disposal</title>
	<meta name="description" content="Webite to consult traffic data about your city in a simple and clean interface.">
	<meta name="author" content="Josep de Cid and Pau Risa.">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/media-queries.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/prettyPhoto.css') }}">

   <!-- Script
   ================================================== -->
	<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>

   <!-- Favicons
	================================================== -->

    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='images/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='images/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='images/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/manifest.json') }}">

</head>

<body>

   <!-- Header
   ================================================== -->
   <header>

      <div class="logo">
         <a class="smoothscroll" href="#hero"><img alt="" src=" {{ url_for('static', filename='images/hero-logo.png') }}"></a>
      </div>

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>

         <ul id="nav" class="nav">
            <li><a class="smoothscroll" href="#features">Features</a></li>
	         <li><a class="smoothscroll" href="#pricing">Global</a></li>
            <li><a class="smoothscroll" href="#screenshots">Screenshots</a></li>
            <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li>
            <li><a class="smoothscroll" href="#subscribe">Contact us</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <ul class="header-social">
         <li><a href="https://www.facebook.com/orbitdata" target="_blank"><i class="fa fa-facebook"></i></a></li>
         <li><a href="https://www.twitter.com/Orbit_Traffic" target="_blank"><i class="fa fa-twitter"></i></a></li>
      </ul>

   </header> <!-- Header End -->


   <!-- Homepage Hero
   ================================================== -->
   <section id="hero">

	   <div class="row">

		   <div class="twelve columns">

			   <div class="hero-text">
				   <br><h1 class="responsive-headline">Cloud traffic data near to you.</h1>

				   <p>Had you ever thought about consulting traffic data to improve your traveller life?<br>Make your dreams come true with Orbit, and get traffic information around you to improve your day-to-day city trips. Never be late again!<br><br><br></p>

           <img src="{{ url_for('static', filename='images/car_car.png') }}"
			   </div>

		   </div>

	   </div>

   </section> <!-- Homepage Hero end -->


   <!-- Features Section
   ================================================== -->
   <section id='features' style="background:#F7F7F7;">

      <div class="row feature design">

         <div class="six columns right">
            <h3>Simple and flowed traffic.</h3>

            <p style="color: black">
                Can city traffic be more fluid with the use of pressure sensors data? With our datasets and it's accordingly application, traffic can be redirected to improve the more dense streets flow and decrease the traffics jams inside the city.
            </p>
         </div>

         <div class="six columns feature-media left">
             <img src="{{ url_for('static', filename='images/flowed-traffic.png') }}" alt="" />
         </div>

      </div>

      <div class="row feature responsive">

         <div class="six columns left">
            <h3>Choose the best route.</h3>

            <p style="color: black">
                Have you ever wondered if taking a different mean of transportation than your daily one would be faster to arrive to work that morning?<br>
                With Orbit you can see the traffic flow on the streets where your bus uses to go, and choose the best alternative way to get your destination.
            </p>
         </div>

         <div class="six columns feature-media right">
             <img src="{{ url_for('static', filename='images/bus-traffic.jpg') }}" alt="" />
         </div>

      </div>

      <div class="row feature cross-browser">

         <div class="six columns right">
            <h3>Don't get stuck in an emergency.</h3>

            <p style="color: black">Owner of some emergency transport services like ambulances, police cars or fire tracks?<br>
            Use the data provided by orbit to avoid traffic jams in emergency scenarios by choossing alternatives paths to get to your destination.<br>
                With Orbit and our cloud data, you mortality can be decreased by 10% in emergenciy situations like this.
            </p>
         </div>

         <div class="six columns feature-media left">
             <img src="{{ url_for('static', filename='images/ambulance-traffic.jpg') }}" alt="" />
         </div>

      </div>

   </section> <!-- Homepage Hero end -->

    <!-- Pricing Section
   ================================================== -->
   <section id="pricing" style='background-image: url("{{ url_for('static', filename='images/background-color.jpg') }}"); background-repeat: no-repeat; background-attachment: fixed;'>

      <div class="row section-head">

         <h1>Instant global data.</h1>

         <p style="color:black;">Click your desired country in this interactive map and then select the city you want data from.<br>Many countries are adhered to this program to help their citizens.
         </p>

      </div>

      <div class="row">

         <div class="pricing-tables bgrid-quarters s-bgrid-halves">
            <img onclick="showhiddenmap123()" src="{{ url_for('static', filename='images/global-map.png') }}" alt="global_map">
         </div>

         <script>
            function showhiddenmap123() {
                var doc = document.getElementById('extendata');
                if (doc.style.display == 'none') doc.style.display = 'block';
                else {
                    doc.style.display = 'none';
                }
            }
         </script>

      </div>

   </section> <!-- Pricing End -->

    <!--WOLOLO-->
    <section id="extendata" style='display:none;background-image: url("{{ url_for('static', filename='images/background-extend.jpg') }}"); background-repeat: no-repeat; background-attachment: fixed;'>
      <img style="width: 50%; margin-left:25%; margin-bot: 30em;" src="{{ url_for('static', filename='images/map-legend.png') }}">
   </section>
   <!--WOLOLO-->

   <section id="pricing">

      <div class="row section-head">

         <h1>What is it useful for?</h1>

         <p>Here are some of the advantatges of usig Orbit Traffic Data but possibilites are unlimited.</p>

      </div>

      <div class="row">

         <div class="pricing-tables bgrid-quarters s-bgrid-halves">

            <div class="column">

               <div class="price-block">

                  <h3 class="plan-title"><img src="{{ url_for('static', filename='images/L1.png') }}" alt="global_map">Real-Time Traffic</h3>

                  <p class="features">Orbit offers a tool to visualize the traffic flow. It's top-notch technology.</p><br>


               </div> <!-- End Price Block -->

			   </div> <!-- End Column -->

            <div class="column">

               <div class="price-block">

                  <h3 class="plan-title"><img src="{{ url_for('static', filename='images/L2.png') }}" alt="global_map">Traffic Parameters</h3>

                  <p>Orbit provides traffic parameters like rush hours traffic and crowds.</p><br>


               </div> <!-- End Price Block -->

			   </div> <!-- End Column -->

           <div class="column">

               <div class="price-block">

                  <h3 class="plan-title"><img src="{{ url_for('static', filename='images/L3.png') }}" alt="global_map">Chronological Stadistics</h3>

                  <p>Efficient roads and public transport design with the stadistics provided.</p>

               </div> <!-- End Price block -->

			   </div> <!-- End Column -->

      </div>

          <div class="row">

         <div class="pricing-tables bgrid-quarters s-bgrid-halves">

            <div class="column">

               <div class="price-block">

                  <h3 class="plan-title"><img src="{{ url_for('static', filename='images/L4.png') }}" alt="global_map">Mobility Profiles</h3>

                  <p class="features">Each road will have a different mobility profile depending on it's flow.</p>


               </div> <!-- End Price Block -->

			   </div> <!-- End Column -->

            <div class="column">

               <div class="price-block">

                  <h3 class="plan-title"><img src="{{ url_for('static', filename='images/L5.png') }}" alt="global_map">Traffic Monitoring</h3>

                  <p>Specific design to monitor the logistic vehicles of an enterprise or organization.</p>


               </div> <!-- End Price Block -->

			   </div> <!-- End Column -->

           <div class="column">

               <div class="price-block">

                  <h3 class="plan-title"><img src="{{ url_for('static', filename='images/L6.png') }}" alt="global_map">Timed Routes</h3>

                  <p>Calculation and analysis of the vehicles routes and it's routes' time.</p>

               </div> <!-- End Price block -->

			   </div> <!-- End Column -->

      </div>

   </section> <!-- Pricing End -->

   <!-- Call-To-Action Section
   ================================================== -->
   <section id="call-to-action">
       <div class="row section-head">
            <h1>How does it work?</h1>
        </div>
      <div class="row">
          <img src="{{ url_for('static', filename='images/tecnologia.png') }} "
      </div>

   </section> <!-- Call-To-Action Section End-->


   <!-- Screenshots
   ================================================== -->
   <section id="screenshots">

      <div class="row section-head">

         <h1>Product Screenshots.</h1><br>


      </div>

      <div class="row">

         <div class="twelve columns">

            <!-- screenshots-wrapper -->
            <div id="screenshots-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

          	   <div class="columns item">
                  <div class="item-wrap">

                     <a href="images/screenshots/big/b-line-icons.jpg" data-imagelightbox="a" >
                        <img src="{{ url_for('static', filename='images/408.jpg') }}" alt="Model 408 Strip">
                        <div class="overlay"></div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns item">
                  <div class="item-wrap">

                     <a href="images/screenshots/big/b-hipster.jpg" data-imagelightbox="a" >
                        <img src="{{ url_for('static', filename='images/408_2.jpg') }}" alt="Model 408 Strip">
                        <div class="overlay"></div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->

               <div class="columns item">
                  <div class="item-wrap">

                     <a href="images/screenshots/big/b-authentic-vintage.jpg" data-imagelightbox="a" >
                        <img src="{{ url_for('static', filename='images/408_3.jpg') }}" alt="Model 408">
                        <div class="overlay"></div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
          		</div> <!-- item end -->


          		</div>  <!-- item end -->

            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->

      </div>  <!-- end row -->

   </section> <!-- Screenshots End -->


<!-- Testimonials Section
  ================================================== -->
   <section id="testimonials">

      <div class="row content">

         <span><i class="quote-left fa fa-quote-left"></i></span>

         <div class="text-container">

            <div class="twelve columns">

               <h1>What People Are Saying.</h1>

            </div>

            <div class="twelve columns flex-container">

               <div class="flexslider">

                  <ul class="slides">

                     <li>
                        <blockquote>
                           <p>With the data powered by Orbit we are able to make smarter decisions when it comes to bus lines
                           distribution.</p>
                           <cite>Mercedes Vidal - TMB President</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                     <li>
                        <blockquote>
                           <p>Thanks to the data gathered by the pressure sensors we are able to make traffic more fluid in
                           Barcelona.</p>
                           <cite>Ada Colau</cite>
                        </blockquote>
                     </li> <!-- slide ends -->

                  </ul>

               </div> <!-- div.flexslider ends -->

            </div> <!-- div.flex-container ends -->

         </div>  <!-- text-container ends -->

         <span><i class="quote-right fa fa-quote-right"></i></span>

      </div> <!-- row ends -->

   </section> <!-- Testimonials Section End-->


   <!-- Subscribe
  ================================================== -->
   <section id="subscribe">

      <div class="row section-head">

         <div class="twelve columns">

            <h1>Stay tuned!</h1>

            <p>Keep visiting this site to see refreshed data every day, or subscribe to our social networks!</p>

         </div>

      </div>

   </section>  <!-- Subscribe Section End-->


<!-- Footer
 ================================================== -->
   <footer>

      <div class="row">

         <div class="six columns info">

            <div class="footer-logo">
               <a href="#">
                  <img src="{{ url_for('static', filename='images/orbit-logo.png') }}" alt="Orbit Logo" />
               </a>
            </div>
            <br><br><br>
            <p>Built for Hack4Good 2016 by Josep de Cid, Pau Campaña, Gabriel Alcàntara and Pau Risa.</p>

         </div>

         <div class="six columns right-cols">

            <div class="row">

               <div class="columns">
                  <h3 class="social">Facebook</h3>
                  <ul>
                     <li><a href="https://www.facebook.com/jdecid96" target="_blank">Josep de Cid</a></li>
                     <li><a href="https://www.facebook.com/pau.risa" target="_blank">Pau Risa</a></li>
                      <li><a href="https://www.facebook.com/pau.laner.90" target="_blank">Pau Campaña</a></li>
                      <li><a href="https://www.facebook.com/gabrielalcantara.93" target="_blank">Gabriel Alcàntara</a></li>
                      <li><a href="https://www.facebook.com/elisabetfarrecamara" target="_blank">Elisabet Farré</a></li>
                  </ul>
               </div>
               <div class="columns">
                  <h3 class="social">Linkedin</h3>
                  <ul>
                     <li><a href="https://wwww.linkedin.com/in/josep-de-cid-rodr%C3%ADguez-6788b4103" target="_blank">Josep de Cid</a></li>
                     <li><a href="https://www.linkedin.com/in/pau-risa-7ba98aba" target="_blank">Pau Risa</a></li>
                      <li><a href="https://www.linkedin.com/in/pau-campa%C3%B1a-castello-b9b28410b" target="_blank">Pau Campaña</a></li>
                      <li><a href="https://www.linkedin.com/in/gabrielalcantara" target="_blank">Gabriel Alcàntara</a></li>
                      <li><a href="#" target="_blank">Elisabet Farré</a></li>
                  </ul>
               </div>
               <div class="columns">
                  <h3 class="social">Github</h3>
                  <ul>
                     <li><a href="https://github.com/JosepRivaille" target="_blank">Josep de Cid</a></li>
                     <li><a href="https://github.com/paurisa" target="_blank">Pau Risa</a></li>
                      <li><a href="#" target="_blank">Pau Campaña</a></li>
                      <li><a href="#" target="_blank">Gabriel Alcàntara</a></li>
                      <li><a href="#" target="_blank">Elisabet Farré</a></li>
                  </ul>
               </div>
            </div> <!-- Nested Row End -->

         </div>

         <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#hero"><i class="icon-up-open"></i></a>
         </div>

      </div> <!-- Row End -->

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.min.js') }}"></script> -->
   <script src="{{ url_for('static', filename='js/jquery.flexslider.js') }}"></script>
   <script src="{{ url_for('static', filename='js/waypoints.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.fittext.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.fitvids.js') }}"></script>
   <script src="{{ url_for('static', filename='js/imagelightbox.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.prettyPhoto.js') }}"></script>
   <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>